/* COLORS */
$base-dark: #265e6c;
$base-neutral: #419fb9; 
$base-pink: #ff93c7; 
$footer-background : #ECF8FC;
$input-base : #71CCE5;
$input-color : #265e6c;
$text-secondary : #94D9EC;
$text-pink : #ff93c7;
$text-gray : #9a9a9a;
$text-color-hover : rgb(85, 84, 84);
$text-color: black;

$shadow : 0 0 13px 0 rgba(185,185,185, .25);

$base-secondary : royalblue;
$base-dark-mode : rgb(58, 58, 58);

/* MEDIA QUERIES */
$layout-breakpoint-small: 470px;
$layout-breakpoint-medium: 850px;
$layout-breakpoint-large: 1100px;

/* VARIABLES ENVEVEW */
%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// ICONS
// https://iconmonstr.com/

// IMAGES
// https://tinypng.com/